fastapi
uvicorn[standard]
python-dotenv
sqlalchemy
asyncpg
alembic
python-jose[cryptography]
bcrypt
pydantic-settings
email-validator
minio
python-multipart
elasticsearch>=8.12.0,<9.0.0
pypdf
pymupdf
python-docx
langchain
langchain-openai
langchain-core
langgraph
redis
neo4j
aio-pika
pgvector
openai
httpx